:root {
    --main-background: #053da3;
    --light-background: #1f71d7;
    --lighter-background: #42a6ff;
    --main-text: #00f2fa;
    --highlight: #ffff8c;
}

/* reset base */
* {
    margin: 0;
    padding: 0;
}

/* target box sizing */
*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/* create media query to adjust font-sizing */
@media (max-width: 75em) {
    html {
        font-size: 60%;
    }
}
@media (max-width: 61.25em) {
    html {
        font-size: 58%;
    }
}
@media (max-width: 28.75em) {
    html {
        font-size: 55%;
    }
}

body {
    font-family: "Noto Sans", 'Lato', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 6rem;
    font-weight: 400;
    /* color: white; */
}

h1, h2 {
    text-align: center;
    font-size: 8rem;
    font-weight: 700;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    color: var(--main-text);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-text);
}

img {
    display: block;
    width: 100%;
}

/* nav bar edits */

.navbar {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 12rem;
    background: var(--main-background);
    background: var(--main-text);
    z-index: 1000;
}

.navbar .left-nav {
    display: flex;
    align-items: center;
}

.navbar .right-nav {
    display: flex;
    /* align-items: center; */
}

.nav-list {
    display: flex;
    /* height: 100%; */
}

.nameplate {
    height: 100%;
    width: auto;
    padding: 1rem;
    margin-top: -0.5rem;
}

/* .navbar {
    overflow: hidden;
    background: var(--main-text);
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 15rem;
} */

/* .navbar #myLinks {
    display: none;
    transition: max-height 0.3s ease-in-out;
    background: var(--main-text);
    width: 45rem; 
    position: fixed; 
    right: 0; 
    top: 7rem; 
} */

/* .navbar a {
    color: var(--main-background);
    padding: 1.5rem 2rem;
    text-decoration: none;
    font-size: 3rem;
    display: block;
}

.navbar a.icon {
    background: var(--main-text);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    border: 0.5rem solid #000;
} */

/* .nav-list a {
    display: block;
    font-size: 3rem;
    padding: 1.5rem;
    color: var(--main-background);
} */

.nav-list li a {
    font-size: 3rem;
    position: relative;
    display: inline-block;
    padding: 0 1.5rem; 
    color: var(--main-background);
    transition: color 0.3s ease; /* Optional: smooth color transition */
}

.nav-list li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px; /* Adjust the thickness of the underline */
    bottom: 0;
    left: 0;
    background-color: var(--highlight); /* The color of the underline */
    transition: width 0.4s ease-out; /* Controls the speed of the underline animation */
}

.nav-list li a:hover::after {
    width: 100%; /* Expands the underline to full width */
}

.nav-list li a:hover {
    color: var(--highlight); /* Optional: change text color on hover */
}

.topnav {
    display: none;
}

@media (max-width: 850px) {
    .navbar {
        display: none;
    }

    .topnav {
        display: block;
        background-color: #333;
        position: fixed;
        overflow: hidden;
        width: 100%;
    }

    .topnav .nameplate {
        height: 2rem;
    }
      
      /* Hide the links inside the navigation menu (except for logo/home) */
    .topnav #myLinks {
        display: none;
    }
      
      /* Style navigation menu links */
    .topnav a {
        color: white;
        text-decoration: none;
        padding: 2rem;
        font-size: 2rem;
        display: block;
    }
      
      /* Style the hamburger menu */
    .topnav a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
      
      /* Add a grey background color on mouse-over */
    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }
      
      /* Style the active link (or home/logo) */
    .active {
        background-color: var(--main-text);
        color: var(--main-background);
    }
}

/* welcome section edits */
.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(var(--main-background), var(--light-background));
}

.welcome-section p {
    color: var(--head-text);
    font-style: italic;
    font-size: 5rem;
    text-align: center;
}

/* project section edits */
.projects {
    text-align: center;
    padding: 10rem 2rem;
    background: linear-gradient(var(--light-background), var(--lighter-background));
}

.projects img {
    border-radius: 2% 2% 0 0;
    top: -2px;
}

.projects-header {
    max-width: 600px;
    margin: 0 auto 5rem auto;
    border-bottom: 0.5rem solid var(--main-text);
}

@media (max-width: 28.75em) {
    .projects-section-header {
      font-size: 3.5rem;
    }
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 3rem;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto 0 auto;
}

.project {
    background: var(--main-background);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 2%;
    transition: transform 0.3s ease-out;
}

.project:hover {
    background-color: #00ffff;
    color: var(--main-background);
    transform: scale(1.025);
}

.project-image {
    height: calc(100%-6rem);
    width: 100%;
    object-fit: cover;
}

.project-title {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

.see-all {
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 2px;
    display: inline-block;
    background-color: var(--highlight);
    color: var(--main-background);
    transition: transform 0.3s ease-out;
}

.see-all:hover {
    background: var(--main-background);
    color: var(--highlight);
    transform: translateX(1rem);
}

/* photos section */

.photos {
    text-align: center;
    padding: 10rem 2rem;
    background: linear-gradient(var(--lighter-background), var(--main-background));
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.photos-header {
    max-width: 600px;
    margin: 0 auto 5rem auto;
}

.photos-header h2 {
    border-bottom: 0.5rem solid var(--main-text);
}

.photos-header p {
    font-size: 3rem;
}

 @media (max-width: 28.75em) {
    .photos-header h2 {
      font-size: 5rem;
    }
    .photos-header p {
      font-size: 2rem;
    }
} 

.photos-example {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.photos-example img {
    height: 30rem;
    width: auto;
    margin: 3rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px 0px var(--main-text);
    transition: transform 0.3s ease-out;
}

.photos-example img:hover {
    transform: scale(1.025);
}

.photos-example a {
    align-items: center;
}

@media (max-width: 28.75em) {
    .photos-example img {
      width: 90%;
      height: auto;
      margin: 1rem;
    }
} 

.photo-link {
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 2px;
    display: inline-block;
    background-color: var(--main-text);
    color: var(--main-background);
    transition: transform 0.3s ease-out;
}

.photo-link:hover {
    background: var(--highlight);
    color: var(--main-background);
    transform: translateX(1rem);
}


/* contact section */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
    padding: 0 2rem;
    background-color: var(--main-background);
    font-size: 2.5rem;
}

.contact-header h2 {
    font-size:  6rem;
}

@media (max-width: 28.75em) {
    .contact-section-header > h2 {
      font-size: 4rem;
    }
}

.contact-section-header > p {
    font-style: italic;
    font-size: 2.5rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    max-width: 2000px;
    margin-top: 3rem;
    flex-wrap: wrap;
}

.link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 1%;
    font-size: 2.4rem;
    text-shadow: 2px 2px 1px black;
    color: var(--main-text);
    transition: transform 0.3s ease-out
}

.link:hover {
    transform: translateY(8px);
}

.social-logo {
    margin: 0 0.5rem;
    height: 2.4rem;
    width: auto;
}